@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="知页科技后台">
    <meta name="description" content="知页科技后台">
    @*<link rel="stylesheet" href="../../res/css/global.css">*@
    <link href="~/third-party/meterial-pro/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/third-party/meterial-pro/material/css/style.css" rel="stylesheet" />
    <link href="~/third-party/meterial-pro/material/css/animate.css" rel="stylesheet" />
    <link href="~/third-party/meterial-pro/material/css/colors/green-dark.css" rel="stylesheet" />
</head>
<body>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/registerBG.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material layui-form">
                        <h3 class="box-title m-b-20">注册</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="UserName" required="" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" id="password" lay-verify="pass" name="Password" required="" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" lay-verify="repass" name="RePassword" required="" placeholder="重复密码">
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox checkbox-success p-t-0 p-l-10">
                                        <input id="checkbox-signup" type="checkbox">
                                        <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" lay-filter="mainLogin" lay-submit>提交</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <p>已经有账户? <a href="/UserAuth/Login" class="text-info m-l-5"><b>登录</b></a></p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </section>

    <script src="~/layui/layui.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var $ = layui.$;

            form.verify({
                pass: [/(.+){6,18}$/, '密码必须6到18位']
                , repass: function (value) {
                    var repassvalue = $('#password').val();
                    if (value != repassvalue) {
                        return '两次输入的密码不一致!';
                    }
                });

            //监听提交
            form.on('submit(mainLogin)', function (data) {
                //layer.alert(JSON.stringify(data.field), {
                //    title: '最终的提交信息'
                //})
                $.ajax({
                    url: "/Admin/UserAuth/Register",
                    type: 'POST',
                    dataType: 'json',
                    data: data.field,
                    success: function (res) {
                        layer.msg('登录成功');
                        window.location.reload()
                    },
                    error: function (res) {
                        layer.msg('登录失败');
                    }
                })
                return false;
            });
        })
    </script>

</body>
</html>