
@{
    ViewData["Title"] = "Index"; 
}
 
<script src="https://cdn.bootcss.com/brython/3.7.5/brython.js"></script>
<script src="https://cdn.bootcss.com/brython/3.7.5/brython_stdlib.js"></script>  
<div onload="brython()">
    <script type="text/python">
        from browser import document, alert

        def echo(event):
            alert(document["zone"].value)

        document["mybutton"].bind("click", echo)
    </script>

    <input id="zone"><button id="mybutton">click !</button>
</div> 