@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <meta name="keywords" content="Scratch,在线编辑器,少儿编程,在线分享,微信分享" />
    <meta name="description" content="知页少儿编程在线编辑器 最新版 Scratch 3.0" />
    <title>Scratch 知页少儿编程在线编辑器</title>

</head>
<body>
    <script src="//scratchasset.pagetechs.com/web/lib.min.js"></script>
    <script src="//scratchasset.pagetechs.com/web/chunks/gui.js"></script>
</body>
</html>