@*<div class="layui-btn-group">
    <a href="/Admin/Comment/AddOrUpdate" class="layui-btn">新增评论</a>
</div>*@
@(await Html.PartialAsync("_IndexListPartialView"))
@section Scripts{
    @(await Html.PartialAsync("_IndexListPartialView_Scripts"))
}