
@{
    ViewData["Title"] = "知页科技简介";
    ViewData["Key"] = "知页科技,知页,简介,知页少儿编程";
    ViewData["Desc"] = "知页科技是一家以技术为导向的互联网公司";
}

<h1>知页科技简介</h1>

<p>
    知页科技是一家以技术为导向的互联网公司。
</p>
<p>
    知页少儿编程目前有Scratch 系列课程。 microbit 系列课程。课程形式以视频授课的形式，生动详细的讲解了Scratch 及 Microbit 的应用及原理。
    帮助学生学会、学懂编程，带领学生打开编程的大门。
</p>

<p>
    <h5>合作：</h5>知页少儿编程目前面向社会开放合作，欢迎咨询。
    <hr />
    <h6>合作方式一：</h6><br />
    面向培训机构，提供少儿编程课程服务。可提供少儿编程课程教师辅导，学生辅导。<br />
    教师辅导：每人4800元/期 共12课<br />
    学生辅导：150元/课时/人<br />
    <br />
    <h6>合作方式二：</h6><br />
    服务提供：提供本系统部署及源码，授权费用48000元/年<br />
    长期授权：20 万元/5年<br />
</p>

<h1>联系方式</h1>

<p>
    邮箱: master@pagetechs.com <br />
</p>
<p>
    微信:
    <img style="width: 150px;" src="~/images/wxqrcode.png" />
</p>
